.end_pag
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    margin: 1% 5% 6.5% 2%;
    height: 30%;
    padding: 20px 5px;
    border-radius: 15px;

    background-color: rgb(56, 56, 56);
}

.end_pag a
{
    color: rgb(103, 103, 255);
}